* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 3000px;
}
header{
  background-color: burlywood;
  opacity: 0.7;
  overflow: auto;
  padding: 10px;
  position: sticky;
  top: 0;
}
.logo{
  float: left;
}
nav{
  float: right;
}
nav > ul > li{
  display: inline-block;
  margin-right: 10px;
}
header a {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
}
.메인{
  clear: both;
}
.메인 > h1, .메인 > p {
  padding: 50px;
}
.메인 > p {
  font-size: 20px;
}
.맨위로{
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
/* 아이콘도 글꼴 취급이라 text-align으로 옮길 수 있음 */
  text-align: center;
}
.맨위로 i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: green;
}
/* 마우스를 올렸을때 적용될 코드 */
.맨위로:hover{
background-color: chartreuse;
}