.rel{
  /* static을 기준으로 상대적 배치 */
  position: relative;
 /* 오른쪽으로 100 위에서 100떨어진 곳에 배치 */
  right: 100px;
  top: 100px;
}
div{
  border: 1px solid red;
  width: 300px;
  height: 300px;
  position: relative;
  margin: 200px;
}
.abs{
width: 100px;
height: 100px;
/* static이 기준이 아니라 부모요소가 기준이 됨 */
/* 단, 부모가 static이 아니어야함 / 
만약 static이면 상위요소로 넘어가게 됨 */
position: absolute;
/* 부모요소의 정중앙
top: 50%;
left: 50%;
transform: translate(-50%,-50%); */

/* 아래쪽 가운데 */
/* bottom: 0;
left:50%;
transform: translate(-50%); */

top: 0;
/* left: -1px; */
transform: translate(-101%);
}