body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.정보입력{
  display: inline-block;
}
.pagination > a{
  text-decoration: none;
  font-size: 20px;
}
input:focus{
  background: chartreuse;
}
a:hover{
  color: red;
}

a:active{
  color: darkturquoise;
}
.container div{
  width: 100px;
  height: 100px;
  margin: 5px;
  display: inline-block;
  transition: all 0.5s ease;
}
.container div:nth-child(1){
  background: red;
}
.container div:nth-child(2){
  background: aqua;
}

.container div:nth-child(3){
  background: grey;
}
.container div:nth-child(4){
  background: greenyellow;
}
.container div:hover{
  box-shadow: 10px 10px 10px gray;
  transform: scale(1.2);
}
