*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  width: 1200px;
  margin: auto;
}
header{
  padding: 15px;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  z-index: 99;
  background-color: white;
  justify-content: space-around;
}
.logo > img{
 width: 180px;
}
header a {
  color: black;
  margin: 5px;
}
header a:hover{
  color: #ff8a3d;
}
nav > ul > li{
  padding: 10px;
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
}
.left-menu, .right-menu{
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="search"]{
  width: 250px;
  height: 40px;
  font-size: 15px;
  background-color: aliceblue;
  border: none;
  border-radius: 5px;
  padding: 15px;
}
.chat{
  height: 50px;
  width: 100px;
  background-color: whitesmoke;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}
.right-menu > form{
  margin-right: 10px;
}
main{
  margin-top: 10px;
  width: 100%;
  border-bottom: 1px solid gray;
}
#article{
  width: 100%;
}
#article-top h1, #article-bottom h1{
  font-size: 40px;
  margin-bottom: 15px;
}
#article-top{
  background-color: #FBF7F2;
  display: flex;
  padding-left: 30px;
  align-items: center;
  justify-content: space-around;
  
}
#article-bottom{
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 30px;
  text-decoration: none;
}
#article-bottom > div > a {
  background-color: rgb(230, 224, 224);
  border-radius: 10px;
  color: black;
  width: bold;
  font-size: 20px;
  margin-left: 10px;
}
.contect{
  float: left;
}
footer{
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}
footer > div:nth-child(1){
  display: flex;
  margin: 20px;
  justify-content: space-between;
  table-layout: fixed;
  font-size: 25px;
}
footer li {
  padding: 15px;
  list-style: none;
}
.down{
  margin: 20px;
  margin-bottom: 200px;
}
.down a{
  font-size: 20px;
  color: black;
  background-color: rgb(230, 224, 224);
  border-radius: 10px;
}
.down i {
  margin-top: 30px;
  font-size: 25px;
}