body{
  width: 1000px;
  height: 1000px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu{
  width: 500px;
  height: 100px;
  background-color: gray;
}
.nav{
  width: 100px;
  height: 300px;
  background-color: aqua;
  float: left;
}
.content{
  width: 400px;
  height: 300px;
  background-color: blueviolet;
  float: left;
}
.footer{
  width: 500px;
  height: 100px;
  background-color: cadetblue;
  clear: both;
}

.container{
  width: 500px;
  height: 500px;
  margin: auto;
}