h3 { text-align: right; background-color: burlywood; font-style: inherit;}
p { text-align: center; background-color: darkorange; font-style: italic;}
h1 {color: chocolate;}
h2{ text-align: center; background-color: bisque; font-weight: 100;}