/* p태크 안에 첫번째만 */
div > p:first-child {
color: red;
}
/* 마지막 p태그만 */
div > p:last-child{
  color:blue;
}
/* ()안에 원하는 번호만 적용 */
/* ()안에 odd = 홀수만 even = 짝수만 */
/* 다른 태그 제외하고 순번 적용할때 */
div > h3:nth-of-type(4){
  color: chartreuse;
}
div > h3:nth-child(4){
  /* 중간에 다른 태그가 들어가면 그 태그도 순번에
  포함되어 적용 */
  color: firebrick;
}
#outer > h4:nth-child(5) {
color: red;
}
/* 기본상태: 페이지를 방문 안했을때 */
a:link{
  color: black;
}
/* 페이지를 방문했을때 */
a:visited{
  color: red;
}
/* 마우스 만나면 */
a:hover{
  color: chartreuse;
}
/* 마우스로 클릭했을때 */
a:active{
  color: bisque;
}
/* 포커스를 가졌을때 */
a:focus{            
  color: darkred;
}
/* 인풋안에 포커스를 가졌을때 */
input:focus{
  background: aqua;
}
/* placeholder에 포커스 적용할때 */
input::placeholder{
  color: red;
}
/* 드래그 했을때 색상 변경 */
p::selection{
  color: black;
  background: gray;
}